/* BASIC STYLES HERE */
body{
    background-size: cover;
    background-position: center;
}

.checkbox{
    height: 20px;
    width: 20px;
}

.card{
    background-color: rgba(0, 0, 139, 0.197);
}


.clock{
    color: whitesmoke;
    font-size: 10vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 40%;
    left: 34%;
    margin-top: -50px;
    margin-bottom: -50px;

}